*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(208, 224, 253);
}

div{
    margin: 90px auto;
    border: 1px solid white;
    border-radius: 20px;
    width: 275px;
    height: 425px;
    background-color: white;
}

div img{
    display: block;
    margin: 12px auto 15px auto;
    width: 92%;
    border-radius: 10px;
}

div .a{
    margin-top: 15px 5px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

div .b{
    margin: 15px 5px;
    text-align: center;
    color: grey;
}

@media only screen and (max-width: 375px){
    div{
        width: 70%;
    }
}